@font-face {
    font-family: "titlefont";
    src: url( "fonts/Andada-Regular.otf" ); 
}

body {
    font-family: sans;
    margin: 1em;
}

h1,h2 {
    font-family: titlefont, serif;
    color: red;
    size: 1.66em;
}

h2 {
    size: 1.33em;
}

input {
    align: right:
    margin-left: 13%;
}

input[type=submit] {
    width:20%;
}

input[type=number] {
    width:3em;
}

dl {
    line-huight: 1.5ex;
}

dd {
    margin-bottom: 1ex;
    margin-left: 0;
    display: inline-block;
    width: 8%;
    vertical-align: middle;
}

dd + dd {
    display: inline-block;
    margin-left: 8%;
    align: right;
    vertical-align: middle;
}
