{% extends "layout.html" %}

{% block content %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

  <h2>Attributes</h2>
  {% if STR %}
  <p>STR: {{ STR }} &#40;{{ (STR-10)//2 }}&#41;</p>
  {% endif %}
  {% if DEX %}
  <p>DEX: {{ DEX }} &#40;{{ (DEX-10)//2 }}&#41;</p>
  {% endif %}
  {% if CON %}
  <p>CON: {{ CON }} &#40;{{ (CON-10)//2 }}&#41;</p>
  {% endif %}
  {% if INT %}
  <p>INT: {{ INT }} &#40;{{ (INT-10)//2 }}&#41;</p>
  {% endif %}
  {% if WIS %}
  <p>WIS: {{ WIS }} &#40;{{ (WIS-10)//2 }}&#41;</p>
  {% endif %}
  {% if CHA %}
  <p>CHA: {{ CHA }} &#40;{{ (CHA-10)//2 }}&#41;</p>
  {% endif %}

  <h2>Stats</h2

  {% if AC %}
  <p>AC: {{ AC }}</p>
  {% endif %}
  {% if Attack %}
  <p>Attack: +{{ Attack }}</p>
  {% endif %}
  {% if Magic %}
  <p>Magic resistance: {{ Advantage }}</p>
  {% endif %}

  {% if Walk %}
  <p>Speed: {{ Walk }} feet</p>
  {% endif %}
  {% if Run %}
  <p>Running speed: {{ Run }} feet</p>
  {% endif %}
  {% if Glide %}
  <p>Glide speed: {{ Glide }} feet</p>
  {% endif %}
  {% if Fly %}
  <p>Flying speed: {{ Fly }} feet</p>
  {% endif %}
  {% if swim %}
  <p>Flying speed: {{ Fly }} feet</p>
  {% endif %}
{% endblock %}
