{% extends "layout.html" %}

{% block content %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

  <form action="{{ url_for('submit') }}" method=post>
    <dl>
      <dt>
      <dd>AC:</dd>
      <dd><input type=number name=ac value=10 /></dd>
      </dt>

      <dt>
      <dd>Hit die:</dd>
      <dd><input type=number name=hd value=0 /></dd>
      </dt>

      <dt>
      <dd>Shield&#47;armour:</dd>
      <dd><input type=number name=shield value=0 /></dd>
      </dt>

      <dt>
      <dd>Intelligence:</dd>
      <dd><input type=number name=inl value=10 /></dd>
      </dt>
     
      <dt>
      <dd>Morale:</dd>
      <dd><input type=number name=morale value=10 /></dd>
      </dt>

      <dt>
      <dd>Speed:</dd>
      <dd><input type=number name=walk value=3 /></dd>
      </dt>

      <dt>
      <dd>Running speed:</dd>
      <dd><input type=number name=run value=0  /></dd>
      </dt>
      
      <dt>
      <dd>Glide speed:</dd>
      <dd><input type=number name=glide value=0 /></dd>
      </dt>

      <dt>
      <dd>Flying speed:
      </dd>
      <dd><input type=number name=fly value=0 /></dd>
      </dt>

      <dt>
      <dd>Swim speed:</dd> 
      <dd><input type=number name=swim value=0 /></dd>
      </dt>
    </dl>
    <p>
      <input type="checkbox" name="magic" value="True" checked=checked /> Magical or magic-user
    </p>
    <input type=submit value=submit />
  </form>
{% endblock %}
