<!DOCTYPE html>
<html>
  <head>
    <title>Dnd 2e to 5e Converter</title>
    <link rel="stylesheet" media="screen" type="text/css" href="{{ url_for('static', filename='style.css') }}">      
    <link rel="stylesheet" media="only screen and (max-width: 719px)" type="text/css" href="{{ url_for('static', filename='mobile.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  </head>

  <body>
    <header>
      <h1>Dnd 2e to 5e converter</h1>
    </header>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
